{% extends "bootstrap/base.html" %}

{% block style %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-class">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <img src="{{ url_for('.static', filename='image/image.png') }}">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a>Главная</a></li>

                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('profile', username=current_user.login) }}">Профиль</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signin') }}">Войти</a></li>
                        <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <p>content</p>

    {% block app_content %}
        <p> parent </p>
    {% endblock %}
{% endblock %}