{% extends "custom_base.html" %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        let file_index = 0;

        function add_music() {
            let upload_form = document.getElementById("upload_form");

            let add_music_p = document.createElement("p");
            let add_music_input = document.createElement("input");
            add_music_input.type='file';
            add_music_input.name = file_index.toString();
            add_music_p.appendChild(add_music_input);
            upload_form.appendChild(add_music_p);

            file_index++;
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Загрузка музыки</h1>

    <form id="upload_form" action="" method="POST" enctype="multipart/form-data">
        {{ music.hidden_tag() }}

        <p>
            {{ music.name.label }}<br>
            {{ music.name(size=32) }}<br>
            {% for error in music.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ music.performer.label }}<br>
            {{ music.performer(size=32) }}<br>
            {% for error in music.performer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ music.genre.label }}<br>
            {{ music.genre(size=32) }}<br>
            {% for error in music.genre.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ music.release_date.label }}<br>
            {{ music.release_date(size=32) }}<br>
            {% for error in music.release_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ music.cover.label }}<br>
            {{ music.cover(size=32) }}<br>
            {% for error in music.cover.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ music.submit() }}</p>

    </form>

    <p>
        <input id="add_music" type="submit" value="Добавить трек" onclick="add_music()">
    </p>

{% endblock %}